
.icon-user-male:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\e802'; } /* '' */
.icon-facebook-rect:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-phone-squared:before { content: '\e806'; } /* '' */
.icon-network:before { content: '\e807'; } /* '' */
.icon-doc-text:before { content: '\e808'; } /* '' */
.icon-dot-circled:before { content: '\e809'; } /* '' */